# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [34]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [35]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [57]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby('type')['ride_id'].count()

In [58]:
# 2. Get the total drivers for each city type
total_driver = pyber_data_df.groupby('type')['driver_count'].sum()

In [100]:
#  3. Get the total amount of fares for each city type
total_fare = pyber_data_df.groupby('type')['fare'].sum()

In [116]:
#  4. Get the average fare per ride for each city type. 
fare_per_ride = total_fare/total_rides

In [117]:
# 5. Get the average fare per driver for each city type. 
fare_per_driver = total_fare/total_driver

In [126]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
    'Total Rides':total_rides,
    'Total Driver':total_driver,
    'Total Fare':total_fare,
    'Average Fare per Ride':fare_per_ride,
    'Average Fare per Driver':fare_per_driver
})

In [127]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [128]:
#  8. Format the columns.
pyber_summary_df['Total Rides'].astype(float)
pyber_summary_df['Total Driver'].astype(float)
pyber_summary_df['Total Fare'].astype(float)

pyber_summary_df['Total Rides'] = pyber_summary_df['Total Rides'].apply(lambda x: "{:,.0f}".format(x))
pyber_summary_df['Total Driver'] = pyber_summary_df['Total Driver'].apply(lambda x: "{:,.0f}".format(x))
pyber_summary_df['Total Fare'] = pyber_summary_df['Total Fare'].apply(lambda x: "${:,.2f}".format(x))
pyber_summary_df['Average Fare per Ride'] = pyber_summary_df['Average Fare per Ride'].apply(lambda x: "${:,.2f}".format(x))
pyber_summary_df['Average Fare per Driver'] = pyber_summary_df['Average Fare per Driver'].apply(lambda x: "${:,.2f}".format(x))

pyber_summary_df

,Total Rides,Total Driver,Total Fare,Average Fare per Ride,Average Fare per Driver
Rural,125,537,"$4,327.93",$34.62,$8.06
Suburban,625,"8,570","$19,356.33",$30.97,$2.26
Urban,"1,625","59,602","$39,854.38",$24.53,$0.67

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [185]:
# 1. Read the merged DataFrame
pyber_data_df['date'] = pd.to_datetime(pyber_data_df['date']).dt.date
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25,55.84,9990581345298,1,Rural

In [204]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

df = pd.DataFrame(pyber_data_df.groupby(['type', 'date'])['fare'].sum())
df

                    fare
type  date
Rural 2019-01-01   43.69
      2019-01-02   52.12
      2019-01-03   19.90
      2019-01-04   24.88
      2019-01-06   47.33
...                  ...
Urban 2019-05-04  323.57
      2019-05-05  322.10
      2019-05-06  181.20
      2019-05-07  258.01
      2019-05-08  170.82

[334 rows x 1 columns]

In [205]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
df = df.reset_index()

In [206]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
df.columns

pivot = df.pivot(index='date', columns ='type', values='fare')

In [207]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
pivot.iloc[pd.date_range('2019-01-01', '2019-04-28'), :]

IndexError: .iloc requires numeric indexers, got ['2019-01-01T00:00:00.000000000' '2019-01-02T00:00:00.000000000'
 '2019-01-03T00:00:00.000000000' '2019-01-04T00:00:00.000000000'
 '2019-01-05T00:00:00.000000000' '2019-01-06T00:00:00.000000000'
 '2019-01-07T00:00:00.000000000' '2019-01-08T00:00:00.000000000'
 '2019-01-09T00:00:00.000000000' '2019-01-10T00:00:00.000000000'
 '2019-01-11T00:00:00.000000000' '2019-01-12T00:00:00.000000000'
 '2019-01-13T00:00:00.000000000' '2019-01-14T00:00:00.000000000'
 '2019-01-15T00:00:00.000000000' '2019-01-16T00:00:00.000000000'
 '2019-01-17T00:00:00.000000000' '2019-01-18T00:00:00.000000000'
 '2019-01-19T00:00:00.000000000' '2019-01-20T00:00:00.000000000'
 '2019-01-21T00:00:00.000000000' '2019-01-22T00:00:00.000000000'
 '2019-01-23T00:00:00.000000000' '2019-01-24T00:00:00.000000000'
 '2019-01-25T00:00:00.000000000' '2019-01-26T00:00:00.000000000'
 '2019-01-27T00:00:00.000000000' '2019-01-28T00:00:00.000000000'
 '2019-01-29T00:00:00.000000000' '2019-01-30T00:00:00.000000000'
 '2019-01-31T00:00:00.000000000' '2019-02-01T00:00:00.000000000'
 '2019-02-02T00:00:00.000000000' '2019-02-03T00:00:00.000000000'
 '2019-02-04T00:00:00.000000000' '2019-02-05T00:00:00.000000000'
 '2019-02-06T00:00:00.000000000' '2019-02-07T00:00:00.000000000'
 '2019-02-08T00:00:00.000000000' '2019-02-09T00:00:00.000000000'
 '2019-02-10T00:00:00.000000000' '2019-02-11T00:00:00.000000000'
 '2019-02-12T00:00:00.000000000' '2019-02-13T00:00:00.000000000'
 '2019-02-14T00:00:00.000000000' '2019-02-15T00:00:00.000000000'
 '2019-02-16T00:00:00.000000000' '2019-02-17T00:00:00.000000000'
 '2019-02-18T00:00:00.000000000' '2019-02-19T00:00:00.000000000'
 '2019-02-20T00:00:00.000000000' '2019-02-21T00:00:00.000000000'
 '2019-02-22T00:00:00.000000000' '2019-02-23T00:00:00.000000000'
 '2019-02-24T00:00:00.000000000' '2019-02-25T00:00:00.000000000'
 '2019-02-26T00:00:00.000000000' '2019-02-27T00:00:00.000000000'
 '2019-02-28T00:00:00.000000000' '2019-03-01T00:00:00.000000000'
 '2019-03-02T00:00:00.000000000' '2019-03-03T00:00:00.000000000'
 '2019-03-04T00:00:00.000000000' '2019-03-05T00:00:00.000000000'
 '2019-03-06T00:00:00.000000000' '2019-03-07T00:00:00.000000000'
 '2019-03-08T00:00:00.000000000' '2019-03-09T00:00:00.000000000'
 '2019-03-10T00:00:00.000000000' '2019-03-11T00:00:00.000000000'
 '2019-03-12T00:00:00.000000000' '2019-03-13T00:00:00.000000000'
 '2019-03-14T00:00:00.000000000' '2019-03-15T00:00:00.000000000'
 '2019-03-16T00:00:00.000000000' '2019-03-17T00:00:00.000000000'
 '2019-03-18T00:00:00.000000000' '2019-03-19T00:00:00.000000000'
 '2019-03-20T00:00:00.000000000' '2019-03-21T00:00:00.000000000'
 '2019-03-22T00:00:00.000000000' '2019-03-23T00:00:00.000000000'
 '2019-03-24T00:00:00.000000000' '2019-03-25T00:00:00.000000000'
 '2019-03-26T00:00:00.000000000' '2019-03-27T00:00:00.000000000'
 '2019-03-28T00:00:00.000000000' '2019-03-29T00:00:00.000000000'
 '2019-03-30T00:00:00.000000000' '2019-03-31T00:00:00.000000000'
 '2019-04-01T00:00:00.000000000' '2019-04-02T00:00:00.000000000'
 '2019-04-03T00:00:00.000000000' '2019-04-04T00:00:00.000000000'
 '2019-04-05T00:00:00.000000000' '2019-04-06T00:00:00.000000000'
 '2019-04-07T00:00:00.000000000' '2019-04-08T00:00:00.000000000'
 '2019-04-09T00:00:00.000000000' '2019-04-10T00:00:00.000000000'
 '2019-04-11T00:00:00.000000000' '2019-04-12T00:00:00.000000000'
 '2019-04-13T00:00:00.000000000' '2019-04-14T00:00:00.000000000'
 '2019-04-15T00:00:00.000000000' '2019-04-16T00:00:00.000000000'
 '2019-04-17T00:00:00.000000000' '2019-04-18T00:00:00.000000000'
 '2019-04-19T00:00:00.000000000' '2019-04-20T00:00:00.000000000'
 '2019-04-21T00:00:00.000000000' '2019-04-22T00:00:00.000000000'
 '2019-04-23T00:00:00.000000000' '2019-04-24T00:00:00.000000000'
 '2019-04-25T00:00:00.000000000' '2019-04-26T00:00:00.000000000'
 '2019-04-27T00:00:00.000000000' '2019-04-28T00:00:00.000000000']

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
date

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')